# Practice of Pandas

In [2]:
"""
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
"""

'\nQ1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.\n'

In [3]:
import pandas as pd

In [4]:
l = [4, 8, 15, 16, 23,  42]

In [5]:
print(pd.Series(l))

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [6]:
"""
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
"""

'\nQ2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the\nvariable print it.\n'

In [7]:
l = [1,2,3,4,5,6,7,8,9,10]

In [8]:
pd.Series(l)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [9]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [10]:
data = {
    'Name' : ['Alice' , 'Bob' , 'Claire'],
    'Age ' : [27,25,28],
    'Gender': ['female' , 'male' , 'female']
}

In [11]:
pd.DataFrame(data)

     Name  Age   Gender
0   Alice    27  female
1     Bob    25    male
2  Claire    28  female

In [12]:
"""
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
"""

'\nQ4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.\n'

In [13]:
"""
DataFrame:

A DataFrame is a 2-dimensional, size-mutable, and heterogeneous tabular data structure.
It can be thought of as a spreadsheet or a SQL table. It is organized in rows and columns.
Each column in a DataFrame is a Pandas Series.
"""
"""
A Series is a 1-dimensional labeled array capable of holding data of any type.
It is like a single column from a DataFrame or a single variable/feature in your data.
"""

'\nA Series is a 1-dimensional labeled array capable of holding data of any type.\nIt is like a single column from a DataFrame or a single variable/feature in your data.\n'

In [14]:
"""
What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
"""

'\nWhat are some common functions you can use to manipulate data in a Pandas DataFrame? Can\nyou give an example of when you might use one of these functions?\n'

In [15]:
"""
Sorting Data:

DataFrame.sort_values(): Sort the DataFrame based on one or more columns.
df.sort_values(by='Age', ascending=False)  # Sort by Age in descending order


"""

"\nSorting Data:\n\nDataFrame.sort_values(): Sort the DataFrame based on one or more columns.\ndf.sort_values(by='Age', ascending=False)  # Sort by Age in descending order\n\n\n"

In [16]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [17]:
# Series And  DataFrame

In [18]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
import pandas as pd

# Create multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David', 'Eva'], name='Name')
ages = pd.Series([25, 30, 35, 40, 45], name='Age')
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston', 'Miami'], name='City')

# Combine the Series into a DataFrame
data = {'Name': names, 'Age': ages, 'City': cities}
df = pd.DataFrame(data)

# Display the resulting DataFrame
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston
4      Eva   45        Miami